<div class="jumbotron text-center">
  <h1>Kuwy</h1> 
  <p>Automatic Fintech Platform</p> 
  
</div>

<!-- Container (About Section) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2 style="color:#3e2723;">About Company</h2>
      <h4 style="color:#3e2723;">we satisfy your dream</h4>      
      <p style="color:#3e2723;">don't hesitate to tell your opinion </p>
      <h3><a href="#!aboutus">Get in Touch</a></h3>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4 style="color:#3e2723;"><strong>MISSION:</strong>Try to complete the project at given time</h4>      
      <p style="color:#3e2723;"><strong>VISION:</strong>serve for customers</p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4 style="color:#3e2723;">POWER</h4>
      <p style="color:#3e2723;">solution tech..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4 style="color:#3e2723;">LOVE</h4>
      <p style="color:#3e2723;">solution tech..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4 style="color:#3e2723;">JOB DONE</h4>
      <p style="color:#3e2723;">solution tech..</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4 style="color:#3e2723;">GREEN</h4>
      <p style="color:#3e2723;">solution tech..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4 style="color:#3e2723;">CERTIFIED</h4>
      <p style="color:#3e2723;">solution tech..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p style="color:#3e2723;">solution tech..</p>
    </div>
  </div>
</div>
<br>
