 <form name="theForm">
          <div class="form-group">
            <input class="form-control" ng-model="user.name" placeholder="Dealer Admin Id" type="text" name="username" required>
            <span class="error" ng-show="(theForm.$dirty||submitted) && theForm.username.$error.required">KuwyID is required</span>
          </div>
          <div class="form-group">
            <input class="form-control" ng-model="user.password"  placeholder="Password" type="password" name="password" required>
             <span class="error" ng-show="(theForm.$dirty||submitted) && theForm.password.$error.required">Password is required</span>
          </div>
          
		  <div class="form-group">
		  <button type="submit" ng-click="login()" class="btn btn-success">Submit</button>
		   
		  </div>
		  <span class="text-danger" style='color:red' ng-if="error.code==1">{{error.message}}</span>
		  <span class="text-danger" style='color:red' ng-if="error.code==2">{{error.message}}</span>
		  <span class="text-danger" style='color:red' ng-if="error.code==3">{{error.message}}</span>
		  <!-- <span  style="color:red">{{ error }}</span>
		  <span class="text-danger" style="color:red">{{ error1 }}</span> -->
        </form>