
<style>
.h3, h3 {
    color: #006b96;
    font-size: 24px;
}
</style>
<form>
    
    <div class="col-xs-12 col-sm-3">
										<img
											src="http://localhost:8080/Office/servlet/getimage/{{msg.name}}"
											class="img-responsive img-circle" />
									</div> 
									 <p>
     
        <input type="hidden" id="name" name="sno" ng-model="msg.sno" disabled/>
    </p>
     <p>
       
        <input type="hidden" id="name" name="name" ng-model="msg.name" disabled/>
    </p>
    <h3>Name:{{msg.name}}</h3><br>
    <h3>Email:{{msg.email}}</h3><br>
    <h3>Mobile:{{msg.mobile}}</h3><br>
   <!--  <p>
        <label>Email:</label>
        <input type="text" id="email" name="email" value="{{msg.email}}" disabled/>
    </p>
    <p>
       <label>Mobile:</label>
        <input type="number" id="mobile" name="mobile" value="{{msg.mobile}}" disabled/>
    </p>  -->
    
    <p>
        <h3>Message:</h3>
        <textarea id="message" placeholder="Message" name="message" rows="6" cols="30" ng-model="msg.msg"></textarea>
    </p>
    <p>
    <button ng-show="msg.msg" class="btn btn-primary" ng-click="send()">Send</button>
        
    </p>
</form>