<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<style>
* {
  margin: 0;
  padding: 0;
}
body {
  background: #e8eaf6;
  color: #435160;
  font-family: "Open Sans", sans-serif;
}
h2 {
  color: #6D7781;
  font-family: "Sofia", cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}
a {
  color: #435160;
  text-decoration: none;
}
.login {
   margin-top: 50px;
  width: 350px;
  position: relative; 
  top: 10%;
  left: 50%;
  margin-left: -175px;
   margin-bottom: 20px;
}
input[type="text"], input[type="password"], input[type="email"] {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #212121;
  font-size: 16px;
}
select{
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: white;
  font-size: 16px;
}
option{
  width: 350px;
  padding: 20px 0px;
  background: #435160;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: white;
  font-size: 16px;
}
option:hover{
	background: #212121;
  
}
label {
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
input[type="submit"] {
  background: #1FCE6D;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background: #16aa56;
  animation-name: shake;
}
.forgot {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}
.forgot:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #6D7781;
}
::-webkit-input-placeholder {
  color: lightgrey;
  font-size: 12px;
}
.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
</style>

<div class='login'>
  <h2>Register</h2>
  <form>
 <label>Userame</label>
  <input type="text"  ng-model="user.name">
 <label>Password</label>
    <input type="password"  ng-model="user.password" >
  <label>Email</label>
  <input type="text"  ng-model="user.email" >
  <label>Mobile</label>
  <input type="text"  ng-model="user.mobile">
  
  <br/>
  <br>
  <button type="button"  class="btn btn-success" ng-click="register()">submit</button>
 <br>
 <br>
  </form>
  </div>